<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>spu信息编辑页面</title>
</head>
<body>

<!-----------------弹出框----------------------------->
<div id="spu_dlg" class="easyui-dialog" title="编辑spu" style="width:700px;height:520px;"
     closed="true"  data-options="iconCls:'icon-save',resizable:true,modal:false" buttons="#spuBtns" >
    <form id="spuForm">
        <br/>
        <label>spu名称:</label>
        <input  id="spuName" name="spuName" class="easyui-textbox" data-options="" style="width:300px;"/>
        <br/><br/>
        <label>spu描述:</label>
        <input  id="description" name="description" class="easyui-textbox" data-options="multiline:true" style="width:500px;height:100px"/>

        <input id="spuId" name="spuId" type="hidden"/>
        <br/><br/>

        <!----------------商品图片列表 ----------------------->

        <table id="spuImgDg" class="easyui-datagrid" title="商品图片列表"
               data-options="singleSelect:true,method:'get',toolbar:'#spuImgTootbar',idField:'id'" >
            <thead>
                <tr>
                    <th data-options="field:'id',width:100">图片id</th>
                    <th data-options="field:'imgName',width:200">图片名称</th>
                    <th data-options="field:'imgUrl',width:100,align:'right',hidden:true">图片url</th>
                    <th data-options="field:'process',width:200,formatter:formatterImgProcess">上传进度</th>
                    <th data-options="field:'status',width:100,formatter:formatterImgStatus">图片状态</th>
                </tr>
            </thead>
        </table>

        <!----------------图片列表工具栏----------------------->
        <div id="spuImgTootbar" style="padding:5px;height:auto"  >
            <div style="margin-bottom:5px">
                <a href="#" id="spuImgAddBtn" class="easyui-linkbutton" iconCls="icon-add" plain="true">添加图片</a>
                <a href="#" id="spuImgUploadBtn" class="easyui-linkbutton" iconCls="icon-save" plain="true" >图片上传</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
            </div>
        </div>

        <br/><br/>
        <!----------------销售属性列表---------------------------->
        <table id="spuSaleAttrDg" class="easyui-datagrid" title="销售属性列表"
               data-options="singleSelect:true,method:'get',toolbar:'#spuSaleAttrTootbar'" >
            <thead>
                <tr>
                    <th data-options="field:'id',width:100">销售属性id</th>
                    <th data-options="field:'name',width:300">销售属性名称</th>
                </tr>
            </thead>
        </table>

        <!----------------销售属性列表工具栏----------------------->
        <div id="spuSaleAttrTootbar" style="padding:5px;height:auto"  >
            <div style="margin-bottom:5px">
                <a href="#" id="spuSaleAttrAddBtn"  onclick="spuSaleAttrAddBtnClick()"
                   class="easyui-linkbutton" iconCls="icon-add" plain="true">添加销售属性</a>
                <a href="#" id="spuSaleAttrEditBtn" onclick="spuSaleAttrEditBtnClick()"
                   class="easyui-linkbutton" iconCls="icon-edit" plain="true">编辑销售属性</a>
                <a href="#" id="spuSaleAttrDelBtn"  onclick="spuSaleAttrDelBtn()"
                   class="easyui-linkbutton" iconCls="icon-remove" plain="true" >删除</a>
            </div>
        </div>


    </form>
</div>
<!----------------弹出框的按钮组----------------------->
<div id="spuBtns">
    <a href="#" class="easyui-linkbutton">保 存</a>
    <a href="#" class="easyui-linkbutton" onclick="$('#spu_dlg').dialog('close')">关 闭</a>
</div>
<!--引入spu销售属性对话框-->
<div th:include="spu/spuSaleAttrPage"></div>

<script language="javascript">
    /*<![CDATA[*/
    //添加销售属性按钮点击
    function spuSaleAttrAddBtnClick() {
        $("#spuSaleAttr_dlg").dialog("open");

    }

    //修改销售属性按钮点击
    function spuSaleAttrEditBtnClick() {

    }

    //删除销售属性按钮点击
    function spuSaleAttrDelBtn() {

    }


    // 初始化Web Uploader
    var uploader  = WebUploader.create({
        auto:false,
        // swf文件路径
        swf:'/webuploader/Uploader.swf',
        // 文件接收服务端。
        server:'file/upload',
        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick:'#spuImgAddBtn',
        // 只允许选择图片文件。
        accept:{
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        }
    });
    //修改一下文件选择按钮隐藏的div的宽高；
    $("#spuImgAddBtn div:eq(0)").css({width:'100%',height:'100%'})

    //监听各个事件，并更新图片表格中的数据
    // 当有文件被添加进队列的时候
    uploader.on( 'fileQueued', function( file ) {
        //console.log(file.id+"==>"+file.name+"===>"+file.size)
        //将图片信息放在table中
        $("#spuImgDg").datagrid('appendRow',{
            id:file.id,
            imgName:file.name,
            imgUrl:'',
            process:0,
            status:'等待上传'
        })
    });

    // 文件上传过程中创建进度条实时显示。
    uploader.on( 'uploadProgress', function( file, percentage ) {
        //找到这个文件所在行的索引
        var index = $("#spuImgDg").datagrid('getRowIndex',file.id)
        //修改这个文件所在行的值
        $("#spuImgDg").datagrid('updateRow',{
            index:index,
            row:{
                process:Math.round(percentage*10000)/100,
                status:'上传中'
            }
        });
    });


    //文件上传成功
    uploader.on( 'uploadSuccess', function( file ,response) {
        console.log( response._raw)
        var index = $("#spuImgDg").datagrid('getRowIndex',file.id)
        //修改这个文件所在行的值
        $("#spuImgDg").datagrid('updateRow',{
            index:index,
            row:{
                process:100,
                status:'上传成功'
            }
        });
    });

    //文件上传失败
    uploader.on( 'uploadError', function( file ) {
        var index = $("#spuImgDg").datagrid('getRowIndex',file.id)
        //修改这个文件所在行的值
        $("#spuImgDg").datagrid('updateRow',{
            index:index,
            row:{
                process:0,
                status:'上传失败'
            }
        });
    });

    //点击进行图片上传
    $("#spuImgUploadBtn").click(function () {
        //上传所有
        uploader.upload();
    });


    //进度条列格式化方法
    function formatterImgProcess(value,row,index) {
        var processBar = $("<div></div>").progressbar({
            value:value
        })
        var div = $("<div></div>").append(processBar);
        return div.html();
    }
    //状态列格式化方法
    function formatterImgStatus(value,row,index) {
        console.log("收到的value："+value);
        if(value == '上传成功'){
            return '<label style="color: green">'+value+'</label>'
        }
        if(value == '上传失败'){
            return '<label style="color: red">'+value+'</label>'
        }
        return '<label style="color: blue">'+value+'</label>'
    }

    /*]]>*/
</script>
</body>
</html>